<div class="calendar-contianer">
  <div class="header">
    <i class="pi pi-arrow-circle-left icons" id="btn_ant" (click)="mesAnterior()"></i>
    <div id="mes">
      ABRIL
    </div>
    <i class="pi pi-arrow-circle-right icons" id="btn_prev" (click)="proximoMes()"></i>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <td>DOM</td>
          <td>SEG</td>
          <td>TER</td>
          <td>QUA</td>
          <td>QUI</td>
          <td>SEX</td>
          <td>SÁB</td>
        </tr>
      </thead>
      <tbody id="dias">
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <h2 id="ano"></h2>
    </footer>
  </div>
</div>
