.calendar {
  display: flex;
  width: 100%;

  .calendar-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;

    ::ng-deep .p-card {
      margin-top: 0.5em;
      margin-left: 0.5em;
      width: 6vw;
      height: 7vh;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .number {
        margin-top: -2em;
      }
    }
  }
}


