<div class="wrapper">
  <div class="flex justify-content-center container-agenda">
    <span class="title">AGENDA DE EVENTOS {{ano}}</span>
  </div>
  <div class="container-calendar">
    <div class="grid">
      <div class="flex justify-content-center col-12 md:col-6 lg:col-6">
        <div class="first-calendar">
          <full-calendar (click)="listAllEventsByMonths()" class="calendar-one" *ngIf='calendarVisible'
            [options]='calendarOptionsOne' [events]="initialEvents">
            <ng-template #eventContent let-arg>
              <b>{{ arg.timeText }}</b>
              <i>{{ arg.event.title }} </i>
            </ng-template>
          </full-calendar>
        </div>
      </div>
      <div class="flex justify-content-center col-12 md:col-6 lg:col-6">
        <div class="first-calendar">
          <div class="flex justify-content-start flex-column align-items-start container-dropdown">
            <span class="mb-1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 13px; color: white">Eventos por Local/Setor:</span>
            <p-multiSelect [options]="setor" placeholder="Selecione" [(ngModel)]="localSetor" (onChange)="getAllEventByLocalSetor($event)" optionLabel="nome"></p-multiSelect>
          </div>
          <p-panel header="Eventos">
            <p-table [value]="listOfEvents">
              <ng-template pTemplate="header">
              </ng-template>
              <ng-template pTemplate="body" let-event>
                  <tr class="events">
                      <td>
                        <span class="nome"><b style="margin-right: 0.2em;">Evento:</b> {{ event.nomeEvento }}</span>
                        <div class="periodo">
                          <span><b style="margin-right: 0.2em;">Inicio:</b> {{event.dataInicial}}</span>   <span style="margin-left: 2em;"><b style="margin-right: 0.2em;">Fim:</b> {{event.dataFinal}}</span>
                        </div>
                        <div class="descricao">
                          <span><b style="margin-right: 0.2em;">Descrição:</b> {{event.descricaoEvento}}</span>
                        </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
          <div class="paginator">
            <p-paginator [first]="paginationFirstValue" *ngIf="events.length > 0 " [rows]="3"
              [totalRecords]="totalElements" (onPageChange)="listAllEventsByMonths($event)" #pp></p-paginator>
          </div>
          </p-panel>
        </div>
      </div>
  </div>
  <div class="borda"></div>
  <div class="base-footer">
    <p class="footer" style="text-align: center;">ASSEMBLÉIA DE DEUS <img src="/assets/logo.png" class="img-footer"> EM
      CUIABÁ E REGIÃO</p>
  </div>
</div>
<!-- <div class="calendar">
  <div class="calendar-container">
    <div class="grid">
      <div class="flex justify-content-center col-12 md:col-6 lg:col-6">
        <div class="first-calendar">
          <div class="lista-eventos" *ngIf="disableListEvents">
            <p-panel header="Eventos">
              <ul *ngFor="let item of listOfEvents">
                <li (click)="opentEventModalCalendarFirst(item.id)"><i class="pi pi-calendar"><span
                      class="text-event date">{{item.dataInicial}}</span><span class="text-event"> a
                      {{item.dataFinal}}</span> - </i>
                  {{item.nome}}</li>
              </ul>
              <div class="pages" *ngIf="disablePaginatorOne">
                <p-paginator [first]="paginationFirstValue" *ngIf="listOfEvents.length > 0 " [rows]="2"
                  [totalRecords]="totalElements" (onPageChange)="listAllEventsByMonths($event)" #pp></p-paginator>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6 event-list">
        <p-panel header="Eventos">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
      </p-panel>
      </div>
    </div>
  </div>
  <div class="borda">
  </div>
  <div class="base-footer">
    <p class="footer" style="text-align: center;">ASSEMBLÉIA DE DEUS <img src="/assets/logo.png" class="img-footer"> EM
      CUIABÁ E REGIÃO</p>
  </div>
</div>
<p-dialog [(visible)]="eventDetailsFirstCalendar" [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <p>{{detailEvent.nome}}</p>
  </ng-template>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="day-event">
        <i class="pi pi-calendar"><span class="text-event date">{{detailEvent.dataInicial| date: 'dd'}}</span><span
            class="text-event"> a {{detailEvent.dataFinal | date: 'dd MMM yyyy' : 'pt'}}</span></i>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="locale">
        <i class="pi pi-map-marker"><span class="text-event local">Local do Evento: {{detailEvent.local}}</span></i>
      </div>
    </div>
    <div class="linha">
    </div>
    <div class="col-12 md:col-6 lg:col-12">
      <div class="descricao">
        <span class="text-event" style="width: 150px;"><b>Sobre o Evento:</b> {{detailEvent.descricao}}</span>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="eventDetailsSecondCalendar" [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <p>{{detailEventSecond.nome}}</p>
  </ng-template>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="day-event">
        <i class="pi pi-calendar"><span class="text-event date">{{detailEventSecond.dataInicial| date:
            'dd'}}</span><span class="text-event"> a {{detailEventSecond.dataFinal | date: 'dd MMM yyyy' :
            'pt'}}</span></i>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="locale">
        <i class="pi pi-map-marker"><span class="text-event local">Local do Evento:
            {{detailEventSecond.local}}</span></i>
      </div>
    </div>
    <div class="linha">
    </div>
    <div class="col-12 md:col-6 lg:col-12">
      <div class="descricao">
        <span class="text-event" style="width: 150px;"><b>Sobre o Evento:</b> {{detailEventSecond.descricao}}</span>
      </div>
    </div>
  </div>
</p-dialog>
<router-outlet></router-outlet> -->
