* {
  padding: 0;
  margin: 0;
}

.calendar {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-image:
    linear-gradient(45deg,
      #8b8cd1 20%,
      #292a5a 90%);

      // .borda {
      //   background-color: #8fc8e5;
      //   position: fixed;
      //   bottom: 1%;
      //   width: 100%;
      //   height: 2.2em;
      //   z-index: 1;
      // }

      .base-footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
        height: 2.5em;
        z-index: 1;
        background-color: #333333;

        img {
          margin-left: 0.4em;
          margin-right: 0.4em;
        }
        .footer {
          margin-top: 0.6em;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #daa520;
          font-family: sans-serif;
          font-weight: 700;
          font-size: 14px;
        }
      }

  .calendar-contianer {
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;

    .first-calendar {
      margin-top: 2em;
      margin-right: 3em;

      // .ano {
      //   display: flex;
      //   justify-content: center;
      //   color: #f9f9f9;
      // }

      i {
        color: #f9f9f9;
      }

      // .mes {
      //   color: #f9f9f9;
      // }

      // .table {
      //   background-color: #f9f9f9;
      // }

      // thead td {
      //   height: 2em;
      //   border: none;
      //   background-color: #5e5f9b;
      //   border: 1px solid #f9f9f9;
      //   color: #f9f9f9;
      //   font-weight: 600;
      // }

      // td {
      //   font-size: 14px;
      // }

      // .painel-eventos {
      //   margin-top: 1em;

      //   li {
      //     list-style-type: none;
      //     font-size: 14px;
      //   }

      //   ul {
      //     border-bottom: 1px solid #cecece;
      //   }
      // }
    }

    .second-calendar {
      margin-top: 2em;
      margin-right: 3em;

      // .ano {
      //   display: flex;
      //   justify-content: center;
      //   color: #f9f9f9;
      // }

      // i {
      //   color: #f9f9f9;
      // }

      // .mes {
      //   color: #f9f9f9;
      // }

      // .table {
      //   background-color: #f9f9f9;
      // }

      // thead td {
      //   height: 2em;
      //   border: none;
      //   background-color: #5e5f9b;
      //   border: 1px solid #f9f9f9;
      //   color: #f9f9f9;
      //   font-weight: 600;
      // }

      // td {
      //   font-size: 14px;
      // }

      .painel-eventos {
        margin-top: 1em;

        li {
          list-style-type: none;
          font-size: 14px;
        }

        ul {
          border-bottom: 1px solid #cecece;
        }
      }
    }

    // .header {
    //   width: 100%;
    //   padding: 0.5em;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   width: 26.1vw;

    //   .icons {
    //     margin: 0 2em 0 2em;
    //     font-size: 20px;
    //   }
    // }

    // table {
    //   border-collapse: collapse;
    // }

    // thead {
    //   background-color: white;
    //   font-weight: 600;
    // }

    // thead td {
    //   height: 2em;
    //   border: none;
    // }

    // td {
    //   border: 1px solid #cbd1d2;
    //   height: 71.4px;
    //   width: 71.4px;
    //   text-align: center;
    //   font-weight: 500;
    // }

    // tbody td {
    //   cursor: pointer;
    // }

    // tbody td:hover {
    //   background: rgba(0, 173, 223, 0.8);
    //   color: #f9f9f9;
    // }

    // table .dia-atual {
    //   background: #00adff;
    //   color: #f9f9f9;
    // }

    // .mes-anterior,
    // .proximo-mes {
    //   color: #cbd1d2;
    // }

    // .mes-anterior:hover,
    // .proximo-mes:hover {
    //   background: #98a0a0;
    // }

    // .event {
    //   position: relative;
    // }

    // .event::after {
    //   content: '';
    //   width: 7px;
    //   height: 7px;
    //   left: 50%;
    //   bottom: 7px;
    //   margin: 3.5px 0 0 -3.5px;
    //   background: #00adff;
    //   display: block;
    //   position: absolute;
    //   border-radius: 50%;
    // }

    // .event:hover {
    //   background: #f9f9f9;

    // }

    // .event.dia-atual::after {
    //   background: #f9f9f9;
    // }

    .footer {
      text-align: center;
    }
  }
  .img {
    position: relative;
    margin-top: -5em !important;

    img {
      height: 43vh;
      width: 12vw;
    }
  }
}

@media (max-width: 770px) {

  .calendar-contianer {
    width: 100% !important;
    display: flex;
    justify-content: center !important;

    // td {
    //   height: 4em !important;
    //   width: 4em !important;
    // }

    .first-calendar {
      width: 100% !important;

      .table-container {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;

        .table {
          background-color: #f9f9f9;
        }
      }
    }

    .second-calendar {
      width: 100% !important;

      .table-container {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;

        .table {
          background-color: #f9f9f9;
        }
      }
    }

    // .header {
    //   width: 100% !important;
    //   padding: 0.5em;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   width: 26.1vw;

    //   .icons {
    //     margin: 0 2em 0 2em;
    //     font-size: 20px;
    //   }
    // }

    .img {
      display: none !important;
    }
  }
}



h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
