.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #233161;

  .container-agenda {
    margin-bottom: 5em;

    .container-imagem {
      margin-top: 2em;

      .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #daa520;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 14px;
      }
    }

    .container-calendar {
      width: 900px;

      .title {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin-bottom: 2em;
      }

      .descricao {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
      }

      .label {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
      }

      .container-filtro {

        .container-input {
          width: 100%;
        }

        input {
          width: 100%;
          height: 2.5em;
          border-radius: 4px;
          border: 1px solid #cecece;
          text-align: center;
        }

        .container-botao-pesquisar {
          width: 10em;
          height: 2.5em;
          background-color: #6a5acd;
          cursor: pointer;
          border: 1px solid #6a5acd;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          span {
            font-family: sans-serif;
            font-size: 14px;
            color: white;
          }

          .material-icons {
            color: white;
          }
        }
      }

      .p-carousel .surface-card {
        transition: box-shadow 0.3s ease-in-out;
      }

      .p-carousel .surface-card:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      }

      .carousel {
        ::ng-deep .surface-card {
          margin: 10px;
          min-width: 250px;
          min-height: 200px;

          .titulo,
          .local,
          .data {
            text-transform: uppercase;
            font-size: 10px;
          }
        }
      }


      .calendario {
        margin-top: 0.5em;

        ::ng-deep .pi-angle-double-right:before,
        .pi-angle-double-left:before,
        .pi-angle-left:before,
        .pi-angle-right:before {
          font-size: 14px;
        }

        ::ng-deep .p-paginator-page,
        .p-paginator-next,
        .p-paginator-last,
        .p-paginator-first,
        .p-paginator-prev,
        .p-paginator-current {
          font-size: 12px;
        }

        .events {
          display: flex;
          flex-direction: column;
          background-color: #c8dbfa;
          border-radius: 8px;
          margin-bottom: 0.5em;
          cursor: pointer;
          padding: 0.3em;

          .nome,
          .periodo,
          .descricao,
          .local-evento {
            margin-bottom: 0.1em;
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }

          .nome,
          .periodo,
          .descricao,
          .local-evento {
            margin-left: 0.5em;
          }

          .local-evento {
            .local {
              font-size: 11px;
            }
          }
        }

        ::ng-deep .fc {
          width: 900px;
          height: 900px;
        }

        ::ng-deep .fc .fc-col-header-cell-cushion {
          color: #f9f9f9;
          text-transform: capitalize;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 300;
        }

        ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
          color: #ffffff;
          background: #888adc;
          border: 1px solid #888adc;
        }

        li {
          list-style: none;
          font-size: 12px;
        }

        ul {
          margin-bottom: 0.3em;
        }

        :ng-deep .fc-bg-event {
          background-color: red !important;
        }

        ::ng-deep .fc .fc-daygrid-event {
          color: black !important;
        }

        ::ng-deep .fc-day-today {
          background-color: #888adc !important;
          border: none !important;
        }

        ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event .fc-event-main {
          color: black !important;
        }

        ::ng-deep .fc-direction-ltr .fc-daygrid-more-link {
          color: #333333;
        }

        ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
          padding: 0;
          background-color: #888adc !important;
          color: #f9f9f9 !important;
        }

        ::ng-deep .fc .fc-daygrid-day-number {
          color: black !important;
        }

        ::ng-deep .fc .fc-daygrid-day-frame {
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
        }

        ::ng-deep .fc .fc-daygrid-day-top {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        ::ng-deep .fc th {
          background-color: #5e5f9b;
        }

        ::ng-deep .fc .fc-bg-event {
          color: transparent;
        }

        ::ng-deep .fc .fc-toolbar-title {
          display: flex;
          justify-content: center;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
        }

        ::ng-deep h2 {
          text-transform: uppercase;
          font-weight: 100;
          font-size: 16px;
          text-align: center !important;
          color: #f9f9f9;
        }

        ::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
          background-color: #5e5f9b;
          border: 1px solid #f9f9f9;
        }

        ::ng-deep .fc .fc-button-primary:disabled {
          display: none;
        }

        .lista-eventos {
          margin-top: 0.5em;

          .descricao {
            width: 30vw;
            text-align: justify;
          }

          .text-event {
            margin-top: 0.5em !important;
          }
        }
      }

      ::ng-deep .p-multiselect-label-container {
        height: 2em;
        border-radius: 10px;
        width: 20vw;
      }

      ::ng-deep .p-multiselect .p-multiselect-label {
        padding: 0.35em 0.5em 0.35em;
        font-size: 13px;
      }

      ::ng-deep .p-multiselect-panel .p-multiselect-header {
        padding: 0.5em;
      }

      ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        font-size: 13px;
      }

      ::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
        height: 1.5em;
        border-radius: 3px;
      }

      ::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      ::ng-deep .p-panel {
        margin-top: 1.8em;
      }

      ::ng-deep .p-panel .p-panel-header {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #5e5f9b;
        color: #f9f9f9;
      }

      ::ng-deep .p-panel .p-panel-header .p-panel-title {
        font-weight: 300;
      }

      ::ng-deep .p-panel .p-panel-content {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      ::ng-deep .p-multiselect .p-multiselect-label.p-placeholder {
        text-align: center
      }
    }
  }
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: #f9f9f9f9 !important;
  font-size: 14px;
  height: 4px !important;
  border-top: 2px solid #5e5f9b !important;
  border-left: 2px solid #5e5f9b !important;
  border-right: 2px solid #5e5f9b !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5e5f9b;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .p-dialog .p-dialog-content {
  border-top-left-radius: 4px !important;
  background-color: #5e5f9b !important;
  font-size: 14px;
  color: #f9f9f9;
}

.text-event {
  margin-left: 0.5em !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.day-event,
.locale {
  margin-top: 0.5em;

  .local {
    font-size: 12px;
  }
}

.linha {
  border-top: 1px solid #f9f9f9;
  width: 90%;
}

.pi-map-marker,
.pi-calendar {
  margin-right: 0.5em;
}


@media(max-width: 992px) {
  .container-agenda {
    .container-calendar {
      .container-filtro {
        .filtros {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;

          .filtro {
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;

            span {
              margin-bottom: 1em !important;
            }

            ::ng-deep .p-multiselect-label-container {
              height: 2em;
              border-radius: 10px;
              width: 50vw !important;
            }
          }
        }
      }

      .calendario {
        ::ng-deep .fc {
          width: 700px !important;
          height: 1000px !important;
        }

        ::ng-deep .fc-daygrid-day {
          height: 50px !important;
          width: 50px !important;
        }

        ::ng-deep .fc td,
        .fc th {
          height: 50px !important;
          width: 50px !important;
        }
      }

      .carousel {
        width: 80vw !important;
      }
    }
  }
}


@media(max-width: 768px) {
  .container-agenda {
    .container-calendar {

      .calendario {

        .calendar-one {
          width: 80vw !important;
          height: 50vh !important;
        }

        ::ng-deep .fc .fc-scroller-liquid-absolute {
          overflow: hidden !important;

        }
      }

      .carousel {
        width: 90vw !important;
      }
    }
  }
}


::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}