<div class="wrapper">
  <div class="borda"></div>
  <div class="base-footer">
    <p class="footer" style="text-align: center;">{{igreja}} <img [src]="imageCampo" class="img-footer">
      {{campo}}</p>
  </div>
  <div class="flex justify-content-center container-agenda">
    <span class="title">AGENDA DE EVENTOS {{ano}}</span>
  </div>
  <div class="container-calendar">
    <div class="grid">
      <div class="flex justify-content-center col-12 md:col-6 lg:col-6">
        <div class="first-calendar">
          <full-calendar class="calendar-one" *ngIf='calendarVisible'
            [options]='calendarOptionsOne' [events]="initialEvents" id="calendario">
            <ng-template #eventContent let-arg>
              <b>{{ arg.timeText }}</b>
              <i>{{ arg.event.title }} </i>
            </ng-template>
          </full-calendar>
        </div>
      </div>
      <div class="flex justify-content-center col-12 md:col-6 lg:col-6">
        <div class="first-calendar">
          <div class="flex justify-content-start flex-row align-items-start container-dropdown">
            <div class="flex flex-column container-multiselect-local-setor" >
              <span class="mb-1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 13px; color: white" class="label">Eventos por Local/Setor:</span>
              <p-multiSelect [options]="setor" placeholder="Selecione" [(ngModel)]="localSetor" (onChange)="getAllEventByLocalSetor($event)" optionLabel="nome"></p-multiSelect>
            </div>
            <div class="flex justify-content-center align-items-center container-button w-full mt-2">
              <button pButton type="button" (click)="listAllEventsByMonths(); getAllEventByLocalSetor()" label="Eventos do mês" class="p-button-outlined"></button>
            </div>
          </div>
          <p-panel header="Eventos">
            <div class="flex justify-content-center align-items-center spinner">
              <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" *ngIf="spinnerView"></p-progressSpinner>
            </div>
            <div class="flex justify-content-center align-items-center message-return" *ngIf="listOfEvents.length < 1">
              <span style="font-size: 14px;" *ngIf="monthOption">Não existem eventos programados para este mês!</span>
              <span style="font-size: 14px;" *ngIf="dayOption">Não existem eventos programados para este dia!</span>
            </div>
            <p-table [value]="listOfEvents" [paginator]="true" [rows]="50" *ngIf="listOfEvents.length > 0 && spinnerView == false">
              <ng-template pTemplate="header">
              </ng-template>
              <ng-template pTemplate="body" let-event>
                  <tr>
                      <td class="events" style="width: 99%;" (click)="opentEventModalCalendarFirst(event.id)">
                        <div class="grid">
                          <div class="col-9 md:col-9 lg:col-9">
                            <span class="nome"><b style="margin-right: 0.2em;">Evento:</b> {{ event.nomeEvento }}</span>
                            <div class="periodo">
                              <span><b style="margin-right: 0.2em;">Inicio:</b> {{event.dataInicial | date: 'dd/MM/YYYY'}}</span>   <span style="margin-left: 2em;"><b style="margin-right: 0.2em;">Fim:</b> {{event.dataFinal | date: 'dd/MM/YYYY'}}</span>
                            </div>
                            <div class="local-evento" *ngIf="event.setor">
                              <span><b style="margin-right: 0.2em;">Setor:</b> <span class="local">{{event?.setor | uppercase}}</span></span>
                            </div>
                            <div class="local-evento" *ngIf="event.congregacao && event.congregacao != event.setor">
                              <span><b style="margin-right: 0.2em;">Congregação:</b> <span class="local">{{event?.congregacao | uppercase}}</span></span>
                            </div>
                            <div class="local-evento mt-3">
                              <span><b style="margin-right: 0.2em;">Descrição do local do evento:</b> <br> <span class="local">{{event.localRealizacao | uppercase}}</span></span>
                            </div>
                          </div>
                          <div class="flex align-items-center justify-content-center col-3 md:col-3 lg:col-3">
                            <div class="flex justify-content-center align-items-center local-evento">
                              <span class="flex flex-column justify-content-center align-items-center"><b style="margin-right: 0.2em; text-align: center; margin-bottom: 0.2em;">Situação:</b> <span class="local">
                                <p-tag value="PROGRAMADO" severity="success" *ngIf="event.situacaoEvento == 'PROGRAMADO'"></p-tag>
                                <p-tag value="ADIADO" severity="warning" *ngIf="event.situacaoEvento == 'ADIADO'"></p-tag>
                                <p-tag value="CANCELADO" severity="danger" *ngIf="event.situacaoEvento == 'CANCELADO'"></p-tag>
                                <p-tag value="EM ABERTO" *ngIf="event.situacaoEvento == 'EM_ABERTO'"></p-tag>
                              </span></span>
                            </div>
                          </div>
                        </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
          </p-panel>
        </div>
      </div>
  </div>
</div>
<p-dialog [(visible)]="eventDetailsFirstCalendar" [modal]="true" [breakpoints]="{ '960px': '75vw' , '700px': '92vw'}" [position]="'center'">
  <ng-template pTemplate="header">
    <p>{{detailEvent.nomeEvento}}</p>
  </ng-template>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="day-event">
        <i class="pi pi-calendar"><span class="text-event date">{{detailEvent.dataInicial| date: 'dd'}}</span><span
            class="text-event"> a {{detailEvent.dataFinal | date: 'dd MMM yyyy' : 'pt'}}</span></i>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="locale">
        <i class="pi pi-map-marker"><span class="text-event">Local do Evento: <span class="local">{{convertLocalEvento(detailEvent.localSetorId)}}</span></span></i>
      </div>
    </div>
    <div class="linha">
    </div>
    <div class="col-12 md:col-6 lg:col-12">
      <div class="descricao">
        <span class="text-event"><span style="font-size: 14px;">Sobre o Evento:</span> {{detailEvent.descricaoEvento}}</span>
      </div>
      <div class="descricao" style="margin-top: 1em;">
        <span class="text-event"><span style="font-size: 14px;">Link Acesso:</span><i class="pi pi-external-link" style="margin-left: 0.5em; cursor: pointer;" (click)="redirectLink(detailEvent.linkEvento)"></i></span>
      </div>
    </div>
  </div>
</p-dialog>
<router-outlet></router-outlet>
