* {
  font-family: sans-serif;
  font-size: 16px;
}

.calendar {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image:
    linear-gradient(45deg,
      #8b8cd1 20%,
      #292a5a 90%);

  .imagem {
    margin-top: -4em;
    display: flex;
    align-items: center;
    margin-right: -10em;
  }

  .borda {
    background-color: #8fc8e5;
    position: fixed;
    bottom: 1%;
    width: 100%;
    height: 2.2em;
    z-index: 1;
  }

  .base-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 2.5em;
    z-index: 1;
    background-color: #333333;

    img {
      margin-left: 0.4em;
      margin-right: 0.4em;
    }

    .footer {
      margin-top: 0.6em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #daa520;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 14px;
    }
  }

  .calendar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .first-calendar {
      margin-right: 1em;
      margin-top: 2em;

      ::ng-deep .fc {
        width: 33vw;
        height: 55vh;
      }

      ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
        color: #ffffff;
        background: #888adc;
        border: 1px solid #888adc;
      }

      li {
        list-style: none;
        font-size: 12px;
      }

      ul {
        border-bottom: 1px solid #cecece;
        margin-bottom: 0.3em;
      }

      ::ng-deep .fc .fc-daygrid-event {
        color: black !important;
      }

      ::ng-deep .fc-day-today {
        background-color: #888adc !important;
        border: none !important;
      }

      ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
        padding: 0;
        background-color: #888adc !important;
        color: #f9f9f9 !important;
      }

      ::ng-deep .fc .fc-daygrid-day-number {
        color: black !important;
      }

      ::ng-deep .fc .fc-daygrid-day-frame {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }

      ::ng-deep .fc .fc-daygrid-day-top {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      ::ng-deep .fc th {
        background-color: #5e5f9b;
      }

      ::ng-deep .fc.fc-theme-standard a {
        color: #f9f9f9;
        font-weight: 100;
        text-transform: capitalize;
      }

      ::ng-deep .fc .fc-toolbar-title {
        display: flex;
        justify-content: center;
      }

      ::ng-deep h2 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 16px;
        text-align: center !important;
        color: #f9f9f9;
      }

      ::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
        background-color: #5e5f9b;
        border: 1px solid #f9f9f9;
      }

      ::ng-deep .fc .fc-button-primary:disabled {
        display: none;
      }

      .lista-eventos {
        margin-top: 0.5em;
      }

      ::ng-deep .p-panel .p-panel-header {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #5e5f9b;
        color: #f9f9f9;
      }
    }

    .second-calendar {
      margin-left: 1em;
      margin-top: 2em;

      ::ng-deep .fc {
        width: 33vw;
        height: 55vh;
      }

      li {
        list-style: none;
        font-size: 12px;
      }

      ul {
        border-bottom: 1px solid #cecece;
        margin-bottom: 0.3em;
      }

      ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
        padding: 0;
        background-color: #888adc !important;
        color: #f9f9f9 !important;
      }

      ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
        color: #ffffff;
        background: #888adc;
      }

      ::ng-deep .fc-day-today {
        background-color: #888adc !important;
        border: none !important;
      }

      ::ng-deep .fc .fc-daygrid-day-number {
        color: black !important;

      }

      ::ng-deep .fc .fc-daygrid-day-frame {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }

      ::ng-deep .fc .fc-daygrid-day-top {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      ::ng-deep .fc th {
        background-color: #5e5f9b;
      }

      ::ng-deep .fc.fc-theme-standard a {
        color: #f9f9f9;
        font-weight: 100;
        text-transform: capitalize;
      }

      ::ng-deep .fc .fc-toolbar-title {
        display: flex;
        justify-content: center;
      }

      ::ng-deep h2 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 16px;
        text-align: center !important;
        color: #f9f9f9;
      }

      ::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
        background-color: #5e5f9b;
        border: 1px solid #f9f9f9;
      }

      ::ng-deep .fc .fc-button-primary:disabled {
        display: none;
      }
    }

    .lista-eventos {
      margin-top: 0.5em;
    }

    ::ng-deep .p-panel .p-panel-header {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #5e5f9b;
      color: #f9f9f9;
    }
  }

}

::ng-deep .p-dialog .p-dialog-header {
  background-color: #bdbef6 !important;
  font-size: 14px;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: #bdbef6 !important;
  font-size: 14px;
}

.text-event {
  font-size: 14px !important;
}

@media (max-width: 1000px) {
  .imagem {
    display: none !important;
  }

  ::ng-deep .fc {
    width: 45vw !important;
    height: 55vh !important;
  }
}

@media (max-width: 770px) {
  .second {
    display: none;
  }

  .first-calendar {
    margin-right: 0em !important;
  }

  ::ng-deep .fc {
    width: 60vw !important;
    height: 55vh !important;
  }
}

@media (max-width: 500px) {
  ::ng-deep .fc {
    width: 85vw !important;
    height: 55vh !important;
  }
}
